<table class="table table-hover table-condensed">
  <tr>
    <th><input type="checkbox" class="selectAllHosts"></th>
    <th></th>
    <th colspan="2">Hostname</th>
    <th>Environment</th>
    <th>Role</th>
    <th>Status</th>
    <th># if</th>
    <th>Actions</th>
  </tr>
  {% for h in hosts %}
    <tr class="{{h.getTableColor}}">
      <td>
        <input type="checkbox" name="selectHost" 
            class="selectHost" value="{{h.id}}" env="{{h.environment.id}}">
      </td>
      <td><span class="glyphicon {{h.getPuppetStatusIcon}}"></span></td>
      <td colspan="2">{{h.name}}.{{h.domain.name}}</td>
      <td>{{h.environment.name}}</td>
      {% if h.role %}
        <td>{{h.role.name}}</td>
      {% else %}
        <td></td>
      {% endif %}
      <td>{{h.getStatusText}}</td>
      <td>{{h.interface_set.count}}</td>
      <td>
        <a href="{% url 'hostIndex' %}{{h.id}}/" class="btn-sm btn-info">
          Show details
        </a>
      </td>
    </tr>
  {% endfor %}
</table>
