{% extends "base/main.html" %}

{% block page-content %}
  <div class="col-lg-9 col-md-12 col-sm-12 col-12">
    <h2>Static domain assignments</h2>
    <p>To facilitate for DNS names to services not residing on a single machine,
    but rather on a virtual IP, this page can create static assignments to IP
    addresses:</p>
    <p>The following static DNS A and AAAA resources are found in this
    system:</p>
    <p class="tablemessage"></p>
    <div class="DomainTable"></div>
    <p>
      <a href="{% url 'dnsNew' %}" 
          class="btn btn-primary btn-sm" id="{{r.id}}">New record</a>
    </p>
  </div>

  <div class="col-lg-3 col-md-4 col-sm-6 col-12">
  <h2>Servers:</h2>
  <p>The following DNS servers are administered by the system:</p>
  {% if servers %}
    {% for s in servers %}
      <h3>{{ s.name }} - {{ s.address }}</h3>
      <p>The server "{{ s.name }}" administers the following domains:</p>
      <ul>
        {% for d in s.domain_set.all %}
          {% if d.testConnection %}
            <li>{{d.name}}</li>
          {% else %}
            <li class="inactive">{{d.name}}</li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endfor %}
  {% endif %}
  </div>
  
  <script>
    function reloadTable() {
      $(".DomainTable").load( "{% url 'dnsAjaxTable' %}", function() {
        $(".deleteRecord").click(function() {
          if (confirm('Are you sure you want to delete this record?')) {
            var id = this.id
            $.ajax({
              type : 'GET',
              url  : '{% url 'dnsIndex' %}delete/' + id + '/',
            }).done(function(response) {
              $(".tablemessage").html("<div class='alert alert-" +
                response['status'] + "'>" + response['message'] + "</div>");
              
              if(response['status']  == "success") {
                reloadTable();
              }
            });
          }
        });
      });
    }

    $(document).ready(function() {
      reloadTable();
    });
  </script>
{% endblock page-content %}
