{% extends "base/main.html" %}

{% block page-content %}
  <p>This status-page shows you your puppetmasters, and which environments are
  deployed at which versions on each of them.</p>

  <h2>Puppet environments</h2>
  <div class="puppettablemessage"></div>
  <table class="table table-condensed table-striped table-hover">
      <tr>
        <th>Environment</th>
        {% for s in servers %}
          <th data-toggle="tooltip" title="{{s.name}}">
            {{s.getHostName}}
          </th>
          <th>
            <a href="#" class="btn-sm btn-danger deletePuppetServer" 
                data-url="{% url 'puppetSDelete' s.id %}">
              Delete
            </a>
          </th>
        {% endfor %}
        <th>ALL</th>
      </tr>
      {% for env in serverenvs %}
        <tr>
          <td>{{env.environment.name}}</td>
          {% for server in env.servers %}
            <td>
            {% if server.latest %}
              {% if server.latest.is_deployable %}
                {{server.latest.getShortSignature}}</td><td> 
                <a class="btn-sm btn-success" 
                  href="{% url 'puppetDeploy' env.environment.id server.server.id %}">
                  Deploy</a>
              {% else %}
                {{server.latest.getShortSignature}}</td>
                <td>{{server.latest.getStatusText}}
              {% endif %}
            {% else %}
              None</td><td><a class="btn-sm btn-success" 
                href="{% url 'puppetDeploy' env.environment.id server.server.id %}">
                Deploy
              </a>
            {% endif %}
            </td>
          {% endfor %}
          <td>
            <a class="btn-sm btn-success" 
                href="{% url 'puppetDeployAll' env.environment.id %}">
                Deploy all
            </a>
          </td>
        </tr>
      {% endfor %}
    </tr>
  </table>
  <script>
    $(".deletePuppetServer").click(function() {
      if (confirm('Are you sure you want to delete this puppet-server?')) {
        var url = $(this).data('url');
        console.log(url);
        $.ajax({
          type : 'GET',
          url  : url ,
        }).done(function(response) {
          $(".puppettablemessage").html("<div class='alert alert-" +
            response['status'] + "'>" + response['message'] + "</div>");
          
          if(response['status']  == "success") {
            location.reload(true);
          }
        });
      }
    });
  </script>
{% endblock page-content %}
