{% extends "base/main.html" %}

{% block page-content %}
  <p>This page is merley a status page to show what is reported about the puppet
  environment by the puppet master(s).</p>

  <h2>Servers</h2>

  <table class="table table-condensed table-striped table-hover">
    <tr><th>Servername</th><th>Status</th><th>Environments</th></tr>
    {% for s in servers %}
      <tr>
        <td>{{s.name}}</td>
        <td>{{s.getStatusText}}</td>
        <td><table class="table table-condensed">
          {% for v in s.latest_envs %}
          <tr>
            <td>{{v.environment.name}}</td>
            <td>{{v.getShortSignature}}</td>
            {% if v.deployable %}
              <td>
                <a class="btn-sm btn-success" 
                    href="{% url 'puppetDeploy' s.id v.environment.id %}">
                  Deploy
                </a>
              </td>
            {% else %}
              <td>{{v.getStatusText}}</td>
            {% endif %}
          </tr>
          {% endfor %}
        </table></td>
      </tr>
    {% endfor %}
  </table>

  <h2>Environments:</h2>

  <p>The following environments exists:</p>

  {% if environments %}
    <div class="row">
      {% for e in environments %}
        <div class="col-sm-6 col-12 col-md-4 col-lg-2">
        {% if e.active %}
          <h3>{{ e.name }}</h3>
          <p>The environment "{{ e.name }}" contains the following roles:</p>
          <ul>
            {% for r in e.role_set.all %}
              {% if r.active %}
                <li>{{r.name}}</li>
              {% else %}
                <li class="inactive">{{r.name}}</li>
              {% endif %}
            {% endfor %}
          </ul>
        {% else  %}
          <h3 class="inactive">{{ e.name }}</h3>
        {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock page-content %}
