{% extends "base/main.html" %}

{% block page-content %}
  <p>This status-page shows you your puppetmasters, and which environments are
  deployed at which versions on each of them.</p>

  <h2>Puppet environments</h2>
  <table class="table table-condensed table-striped table-hover">
      <tr>
        <th>Environment</th>
        {% for s in servers %}
          <th colspan="2">{{s.name}}</th>
        {% endfor %}
        <th>ALL</th>
      </tr>
      {% for env in serverenvs %}
        <tr>
          <td>{{env.environment.name}}</td>
          {% for server in env.servers %}
            <td>
            {% if server.latest %}
              {% if server.latest.is_deployable %}
                {{server.latest.getShortSignature}}</td><td> 
                <a class="btn-sm btn-success" 
                  href="{% url 'puppetDeploy' env.environment.id server.server.id %}">
                  Deploy</a>
              {% else %}
                </td><td>{{server.latest.getStatusText}}
              {% endif %}
            {% else %}
              None</td><td><a class="btn-sm btn-success" 
                href="{% url 'puppetDeploy' env.environment.id server.server.id %}">
                Deploy
              </a>
            {% endif %}
            </td>
          {% endfor %}
          <td>
            <a class="btn-sm btn-success" 
                href="{% url 'puppetDeployAll' env.environment.id %}">
                Deploy all
            </a>
          </td>
        </tr>
      {% endfor %}
    </tr>
  </table>
{% endblock page-content %}
