{% extends "base/main.html" %}

{% block page-content %}
<div class="col-lg-12 col-md-12 col-sm-12 col-12">
{% if partitionscheme.id %}
  <p>Update the following form to change the scheme "{{partitionscheme.name}}":
  </p>
{% else %}
  <p>Create a new partitionscheme:</p>
{% endif %}
<p class="formMessage">{{message}}</p>
<form method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="name">Scheme-name:</label>
    {% if partitionscheme %}
      <input type="text" class="form-control" id="name" name="name" 
          aria-describedby="name" placeholder=""
          value="{{partitionscheme.name}}">
    {% else %}
      <input type="text" class="form-control" id="name" name="name"
          aria-describedby="name" placeholder="">
    {% endif %}
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea class="form-control" rows="3" id="description" name="description"
        aria-describedby="description">{{partitionscheme.description}}</textarea>
  </div>
  <div class="form-group">
    <label for="scheme">scheme:</label>
    <textarea class="form-control" rows="30" id="scheme" name="scheme"
        aria-describedby="scheme">{{partitionscheme.content}}</textarea>
  </div>
  <button type="submit" class="btn btn-primary">{{ buttonText }}</button>
</form>
</div>

{% endblock page-content %}
