{% extends "base/main.html" %}

{% block page-content %}
  <div class="col-12 col-sm-6 col-md-6 col-lg-4">
    <h2>General information</h2>
    <table>
      <tr>
        <td class="rightText">Hostname:</td>
        <td>{{host.name}}</td>
      </tr>
      <tr>
        <td class="rightText">Domain:</td>
        <td>{{host.getDomain.name}}</td>
      </tr>
      <tr>
        <td class="rightText">Bootfile:</td>
        {% if host.bootfile %}
          <td><a href="{% url 'hostPreseed' host.id %}">{{host.bootfile.name}}</a></td>
        {% else %}
          <td>N/A</td>
        {% endif %}
      </tr>
      <tr>
        <td class="rightText">Installscript:</td>
        {% if host.postinstallscript %}
          <td><a href="{% url 'hostPostinstall' host.id %}">{{host.postinstallscript.name}}</a></td>
        {% else %}
          <td>N/A</td>
        {% endif %}
      </tr>
      <tr>
        <td class="rightText">TFTP-Config:</td>
        <td><a href="{% url 'hostTftp' host.id %}">TFTP config</a></td>
      </tr>
      <tr>
        <td class="rightText">Postinstall-script:</td>
        <td>
          <a href="{% url 'hostPostinstall' host.id %}">Postinstall-script</a>
        </td>
      </tr>
      <tr>
        <td class="rightText">Status:</td>
        <td>{{host.getStatusText}}</td>
      </tr>
      <tr>
        <td class="rightText">Environment:</td>
        <td>{{host.environment.name}}</td>
      </tr>
      <tr>
        <td class="rightText">Role:</td>
        <td>{{host.role.name}}</td>
      </tr>
      <tr>
        <td class="rightText">Password:</td>
        <td>{{host.password}}</td>
      </tr>
    </table>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-6">
    <h2>Interfaces</h2>
    <div class="Interfacetablemessage"></div>
    <table class="table table-hover table-condensed">
      <tr>
        <th>Name</th>
        <th>DNS</th>
        <th>MAC</th>
        <th>IPv4</th>
        <th>IPv6</th>
        <th>Delete</th>
      </tr>
      {% for i in host.interface_set.all %}
        <tr>
          <td><a href="{% url 'hostInterface' host.id i.id %}">
            {% if i.primary %}
              <b>{{i.ifname}}</b>
            {% else %}
              {{i.ifname}}
            {% endif %}
          </a></td>
          <td>{{i.host.name}}.{{i.ipv4Lease.subnet.domain.name}}</td>
          <td>{{i.ipv4Lease.MAC}}</td>
          <td>{{i.ipv4Lease.IP}}</td>
          <td>{{i.ipv6}}</td>
          <td>
            <a href="#" data-url="{% url 'hostDelInterface' host.id i.id %}" 
                class="btn btn-sm btn-danger deleteIF">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </table>
    <a href="{% url 'hostNewInterface' host.id %}" class="btn btn-success">
      Create new interface
    </a>
  </div>
  <script>
    $(".deleteIF").click(function() {
      if (confirm('Are you sure you want to delete this interface?')) {
        var url = $(this).data('url');
        console.log(url);
        $.ajax({
          type : 'GET',
          url  : url ,
        }).done(function(response) {
          $(".Interfacetablemessage").html("<div class='alert alert-" +
            response['status'] + "'>" + response['message'] + "</div>");
          
          if(response['status']  == "success") {
            location.reload(true);
          }
        });
      }
    });
  </script>
  {% if report %}
    <div class="col-12 col-sm-12 col-md-12 col-lg-12"> 
    <hr>
    <h1>Puppet-status:</h1>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-4">
      <h2>Summary:</h2>
      <table class="table table-hover table-condensed">
        <tr>
          <th>Status</th><th>Time</th><th>Environment</th>
        </tr>
        {% for r in reports %}
          <tr>
            <td><span class="glyphicon {{r.getStatusIcon}}"></span></td>
            <td><a href="{% url 'hostPuppetLog' host.id r.id %}">{{r.time}}</a></td>
            <td>{{r.environment.name}}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-8">
      <h2>{{reporttype}}</h2>
      <p>The last report:</p>
      <ul>
        <li>Handled {{metrics.Total}} resources</li>
        <li>There were {{metrics.Outofsync}} resources out of sync.</li>
        <li>Resources Changed: {{metrics.Changed}}</li>
        <li>Resources Skipped: {{metrics.Skipped}}</li>
        <li>Resources Failed: {{metrics.Failed}}</li>
      </ul>
      <table class="table table-hover table-condensed">
        <tr><th>Level</th><th>Source - Message</th></tr>
        {% for log in report.reportlog_set.all %}
          <tr class="clickable-row {{log.getTableColor}}"
              data-href="{% url 'puppetMessage' log.id %}">
            <td>{{log.getLevelText}}</td>
            <td>{{log.source}} - {{log.message}}</td>
          </tr>
        {% endfor %}
      </table>
    </div>

    <script>
      jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
          window.location = $(this).data("href");
        });
      });
    </script>
  {% endif %}
{% endblock page-content %}
