{% extends "base/main.html" %}

{% block page-content %}
  <div class="col-6 col-sm-6 col-md-4 col-lg-3">
    <h2>General information</h2>
    <table>
      <tr>
        <td class="rightText">Hostname:</td>
        <td>{{host.name}}</td>
      </tr>
      <tr>
        <td class="rightText">Domain:</td>
        <td>{{host.domain.name}}</td>
      </tr>
      <tr>
        <td class="rightText">PartitionScheme:</td>
        {% if host.partition %}
          <td>{{host.partition.name}}</td>
        {% else %}
          <td>Default</td>
        {% endif %}
      </tr>
      <tr>
        <td class="rightText">Status:</td>
        <td>{{host.getStatusText}}</td>
      </tr>
      <tr>
        <td class="rightText">Environment:</td>
        <td>{{host.environment.name}}</td>
      </tr>
      <tr>
        <td class="rightText">Role:</td>
        <td>{{host.role.name}}</td>
      </tr>
      <tr>
        <td class="rightText">Password:</td>
        <td>{{host.password}}</td>
      </tr>
    </table>
  </div>
  <div class="col-6 col-sm-6 col-md-4 col-lg-3">
    <h2>Useful links:</h2>
    <p>Misc. resources related to this host:</p>
    <ul>
      <li><a href="{% url 'hostTftp' host.id %}">TFTP config</a></li>
      <li><a href="{% url 'hostPreseed' host.id %}">Preseed-file</a></li>
      <li>
        <a href="{% url 'hostPostinstall' host.id %}">Postinstall-script</a>
      </li>
    </ul>
  </div>
  <div class="col-12 col-sm-12 col-md-9 col-lg-6">
    <h2>Interfaces</h2>
    <table class="table table-hover table-condensed">
      <tr>
        <th>Name</th>
        <th>DNS</th>
        <th>MAC</th>
        <th>IPv4</th>
        <th>IPv6</th>
      </tr>
      {% for i in host.interface_set.all %}
        <tr>
          <td><a href="{% url 'hostInterface' host.id i.id %}">
            {% if i.primary %}
              <b>{{i.ifname}}</b>
            {% else %}
              {{i.ifname}}
            {% endif %}
          </a></td>
          <td>{{i.host.name}}.{{i.ipv4Lease.subnet.domain.name}}</td>
          <td>{{i.ipv4Lease.MAC}}</td>
          <td>{{i.ipv4Lease.IP}}</td>
          <td>{{i.ipv6}}</td>
        </tr>
      {% endfor %}
    </table>
    <a href="{% url 'hostNewInterface' host.id %}" class="btn btn-success">
      Create new interface
    </a>
  </div>
{% endblock page-content %}
