{% extends "base/main.html" %}

{% block page-content %}
  <p class="ajax"></p>

  <div class="col-12 col-sm-12 col-md-12 col-lg-12">
    <h2>Existing hosts</h2>

    <p>This table contains the hosts currently configured in the system.</p>

    <div class="btn-group btn-group-justified">
      <div class="btn-group">
        <button type="button"
            class="btn btn-success disabled dropdown-toggle updateEnv" 
            data-toggle="dropdown">
          Update Environment <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          {% for e in environments %}
            <li><a class="updateEvironment" id="{{e.id}}">{{e.name}}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="btn-group">
        <button type="button"
            class="btn btn-success disabled dropdown-toggle updateRoles" 
            data-toggle="dropdown">
          Update role<span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-role" role="menu"> 
        </ul>
      </div>
      <a href="#" class="btn btn-warning changeButton disabled rebuild">Rebuild host</a>
      <a href="#" class="btn btn-warning changeButton disabled norebuild">Cancel rebuild of host</a>
      <a href="#" class="btn btn-danger changeButton disabled deleteHost">Delete Host</a>
    </div>
    <p class="tablemessage"></p>
    <div class="hosttable"></div>
  </div>
  <div class="col-12 col-sm-12 col-md-8 col-lg-8">
    <h2>Add new host</h2>
    <p>Use the following form to create a new host:</p>
    <p class="formMessage"></p>
    <div class="addHostForm"></div>
  </div>
  <div class="col-12 col-sm-6 col-md-4 col-lg-4">
    <h2>Partition-schemes</h2>
    <table class="table table-hover table-condensed">
      <tr><th>Name</th><th>Description</th></tr>
      {% for p in partitionschemes %}
        <tr>
          <td><a href="{% url 'hostPartitionEdit' p.id %}">{{p.name}}</a></td>
          <td>{{p.getShortDescription}}...</td>
        </tr>
      {% endfor %}
    </table>
    <a href="{% url 'hostPartitionNew' %}" class="btn-sm btn-info btn-tiny">
      Create new scheme
    </a>
  </div>
  

  <script>
    function initializeButtons() {
      $(".updateEvironment").click(function() {
        var data = {'environment': this.id};
        data['selected'] = $('input[name="selectHost"]:checked').serialize();

        if (confirm('Are you sure you want to update these hosts?')) {
          $(".tablemessage").html("<div class='alert alert-info'>" +
              "Request sent to the server</div>");
          $.ajax({
            type        : 'POST',
            url         : '{% url 'hostEnvironment' %}',
            data        : data,
            dataType    : 'json',
          }).done(function(response) {
            $(".tablemessage").html("<div class='alert alert-" +
                response['status'] + "'>" +
                response['message'] + "</div>");

            if(response['status'] == 'success') {
              reloadTable();
            }
          });
        }
      });
      $(".deleteHost").click(function() {
        var selected = $('input[name="selectHost"]:checked').serialize()
        if (confirm('Are you sure you want to delete these hosts?')) {
          $(".tablemessage").html("<div class='alert alert-info'>" +
              "Request sent to the server</div>");
          $.ajax({
            type        : 'POST',
            url         : '{% url 'hostDelete' %}',
            data        : {'selected':selected},
            dataType    : 'json',
          }).done(function(response) {
            $(".tablemessage").html("<div class='alert alert-" +
                response['status'] + "'>" +
                response['message'] + "</div>");

            if(response['status'] == 'success') {
              reloadTable();
            }
          });
        }
      });
      $(".rebuild").click(function() {
        var selected = $('input[name="selectHost"]:checked').serialize()

        if (confirm('Are you sure you want to reinstall these hosts?')) {
          $(".tablemessage").html("<div class='alert alert-info'>" +
              "Request sent to the server</div>");
          $.ajax({
            type        : 'POST',
            url         : '{% url 'hostProvision' %}',
            data        : {'selected':selected},
            dataType    : 'json',
          }).done(function(response) {
            $(".tablemessage").html("<div class='alert alert-" +
                response['status'] + "'>" +
                response['message'] + "</div>");

            if(response['status'] == 'success') {
              reloadTable();
            }
          });
        }
      });
      $(".norebuild").click(function() {
        var selected = $('input[name="selectHost"]:checked').serialize()

        if (confirm('Are you sure you want to cancel the reinstall of these hosts?')) {
          $(".tablemessage").html("<div class='alert alert-info'>" +
              "Request sent to the server</div>");
          $.ajax({
            type        : 'POST',
            url         : '{% url 'hostNoProvision' %}',
            data        : {'selected':selected},
            dataType    : 'json',
          }).done(function(response) {
            $(".tablemessage").html("<div class='alert alert-" +
                response['status'] + "'>" +
                response['message'] + "</div>");

            if(response['status'] == 'success') {
              reloadTable();
            }
          });
        }
      });
    }
    function reloadTable() {
      $( ".hosttable" ).load( "{% url 'hostAjaxTable' %}", function() {
        // Select all hosts if the "selectAllHosts" checkbox is clicked on
        $(".selectAllHosts").change(function() {
          $(".selectHost").attr('checked', this.checked);
        });
        // Enable/disable buttons based on how many hosts are selected
        $(".selectHost").change(function() {
          var antall = $('.selectHost:checked').length;
          if(antall == 0) {
            var buttone = true;
          } else {
            var buttone = false;
          }

          var environment = "UNDEFINED";
          var different = false;
          $('.selectHost:checked').each(function() {
            var myenv = $(this).attr("env");
            if(environment == "UNDEFINED") {
              environment = myenv;
            }
            if(myenv != environment) {
              different = true; 
            }
          });

          if(! buttone && ! different) {
            $(".updateRoles").toggleClass('disabled', false);
            reloadRoleButton(environment);
          } else {
            $(".updateRoles").toggleClass('disabled', true);
          }

          $(".updateEnv").toggleClass('disabled', buttone);
          $(".rebuild").toggleClass('disabled', buttone);
          $(".norebuild").toggleClass('disabled', buttone);
          $(".deleteHost").toggleClass('disabled', buttone);
        });
      });
    }

    function reloadRoleButton(env) {
      $('.dropdown-role').load( "{% url 'hostIndex' %}menu/role/" + env + "/",
          function() {
        $(".updateRole").click(function() {
          var data = {'role': this.id};
          data['selected'] = $('input[name="selectHost"]:checked').serialize();

          if (confirm('Are you sure you want to update these hosts?')) {
            $(".tablemessage").html("<div class='alert alert-info'>" +
                "Request sent to the server</div>");
            $.ajax({
              type        : 'POST',
              url         : '{% url 'hostRole' %}',
              data        : data,
              dataType    : 'json',
            }).done(function(response) {
              $(".tablemessage").html("<div class='alert alert-" +
                  response['status'] + "'>" +
                  response['message'] + "</div>");

              if(response['status'] == 'success') {
                reloadTable();
              }
            });
          }
        });
      });
    }

    function reloadForm() {
      $( ".addHostForm" ).load( "{% url 'hostAjaxForm' %}", function() {
        $(".newHost").click(function() {
          var formData = { 
            'csrfmiddlewaretoken' : $('input[name=csrfmiddlewaretoken]').val(),
            'hostname'            : $('input[id=hostname]').val(),
            'partition'           : $('#partition option:selected').text(),
            'environment'         : $('#environment option:selected').text(), 
            'role'                : $('#role option:selected').text(), 
            'ifname'              : $('input[id=ifname]').val(),
            'mac'                 : $('input[id=mac]').val(),
            'subnet'              : $('#subnet option:selected').text(),
            'ipv4'                : $('input[id=ipv4]').val(),
            'ipv6'                : $('input[id=ipv6]').val(),
          };

          var fields = ["hostname", "environment", "ifname", 
              "mac", "subnet", "role"];
          var descriptions = ["Hostname", "Evironment", 
              "Interface name", "MAC Address",
              "Subnet", "Role"]
          var missing = ""

          for(f in fields) {
            if(! formData[fields[f]]) {
              missing += "'" + descriptions[f] + "' ";
            }
          }
          if(missing) {
            $(".formMessage").html("<div class='alert alert-warning'>" +
                "Missing the fields " + missing + "</div>");
          } else {
            $(".formMessage").html("<div class='alert alert-info'>" +
                "Request sent to the server</div>");
            $.ajax({
              type        : 'POST',
              url         : '{% url 'hostNew' %}',
              data        : formData,
              dataType    : 'json',
              encode      : true
            }).done(function(response) {
              $(".formMessage").html("<div class='alert alert-" +
                  response['status'] + "'>" +
                  response['message'] + "</div>");

              if(response['status'] == 'success') {
                reloadTable();
                reloadForm();
              }
            });
          }
        });
      });
    }

    $(document).ready(function(){
      reloadTable();
      setInterval(function(){
            reloadTable();
      }, 60000);
      reloadForm();
      initializeButtons();
    });
  </script>
{% endblock page-content %}
