{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel='icon' type='image/x-icon' 
        href="{% static 'favicon.ico' %}" />
    <link rel="icon" type="image/png" 
        href="{% static 'favicon.png' %}" />
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> 
      {% block title %} 
        {{ title|default:"Shiftleader" }} 
      {% endblock title %}
    </title>

    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <link href="{% static 'main.css' %}" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top 
        mainmenu-{{ env | default:'dev'}}">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#navbar" 
              aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">ShiftLeader</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% for item in menu %}
              {% if item.type == 'link' %}
                {% if item.active %}
                  <li class="active">
                    <a href="{{ item.url }}">{{ item.name }}</a>
                  </li>
                {% else %}
                  <li><a href="{{ item.url }}">{{ item.name }}</a></li>
                {% endif %}
              {% endif %}
              {% if item.type == 'dropdown' %}
                {% if item.active %}
                  <li class="dropdown active">
                {% else %}
                  <li class="dropdown">
                {% endif %}
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                      role="button" aria-haspopup="true"
                      aria-expanded="false">
                    {{ item.name }}<span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    {% for element in item.elements %}
                      {% if element.type == 'link' %}
                        {% if element.active %}
                          <li class="active">
                        {% else %}
                          <li>
                        {% endif %}
                        <a href="{{ element.url }}">{{ element.name }}</a></li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>

    <script src="{% static 'jquery-3.1.0.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'utilities.js' %}"></script>

    <div class="container-fluid">
      {% block page-header %}
        <div class="page-header">
          <h1> {{ header|default:'Page title' }}</h1>
        </div>
      {% endblock page-header %}
      {% block page-content %}
        <p> {{ message|default:'Some content' }} </p>
      {% endblock page-content %}
    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">
          {{ footertext|default:'&copy; NTNU,IE,IIK' }}
        </p>
      </div>
    </footer>


  </body>
</html>
